In [1]:
!pip install pandas

Requirement already satisfied: pandas in /Users/harsh/anaconda3/lib/python3.11/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/harsh/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/harsh/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/harsh/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /Users/harsh/anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /Users/harsh/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pyspark

In [3]:
import pandas as pd
pd.read_csv("sample1.csv")

          name            place  age
0           HL       hqwjdbxqwj   32
1           ab       dbqjhbdqhd   43
2       dnsajk        dqbjwqwdq   73
3         Asdb         Bjhdam s   21
4    dsakdjbad     Dabd an dqwd   64
5      djdwddw  Dbqjdjhdbq xaqx   38
6   kduqyhnwdx           xkqwbd   55
7  abscancaqwd         Baiukqxa   15

In [4]:
##The SparkSession class is the entry point for working with Spark SQL, which is an API for working with structured data (data organized in rows and columns) in Spark.
# By importing SparkSession, you gain access to functionalities for creating SparkSession objects, interacting with data sources, and performing various data processing operations.
from pyspark.sql import SparkSession

In [5]:

#SparkSession.builder: This creates a builder object to configure the SparkSession.
#appName('Practice'): This method sets the application name as "Practice". This name is simply a label for your Spark application and can be helpful for identification in logs or cluster management.
#getOrCreate(): This method builds the SparkSession object based on the configurations and attempts to retrieve an existing SparkSession if one is already running. If no existing session is found, it creates a new one.

spark=SparkSession.builder.appName('Practice').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/05/05 03:30:42 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
spark

In [7]:
df_pyspark=spark.read.csv('sample1.csv')

In [8]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string]

In [9]:
df_pyspark.show()

+-----------+---------------+---+
|        _c0|            _c1|_c2|
+-----------+---------------+---+
|       name|          place|age|
|         HL|     hqwjdbxqwj| 32|
|         ab|     dbqjhbdqhd| 43|
|     dnsajk|      dqbjwqwdq| 73|
|       Asdb|       Bjhdam s| 21|
|  dsakdjbad|   Dabd an dqwd| 64|
|    djdwddw|Dbqjdjhdbq xaqx| 38|
| kduqyhnwdx|         xkqwbd| 55|
|abscancaqwd|       Baiukqxa| 15|
+-----------+---------------+---+

In [23]:
df_pyspark=spark.read.option('header','true').csv('sample1.csv',inferSchema=True)

In [24]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [25]:
df_pyspark.show()

+-----------+---------------+---+
|       name|          place|age|
+-----------+---------------+---+
|         HL|     hqwjdbxqwj| 32|
|         ab|     dbqjhbdqhd| 43|
|     dnsajk|      dqbjwqwdq| 73|
|       Asdb|       Bjhdam s| 21|
|  dsakdjbad|   Dabd an dqwd| 64|
|    djdwddw|Dbqjdjhdbq xaqx| 38|
| kduqyhnwdx|         xkqwbd| 55|
|abscancaqwd|       Baiukqxa| 15|
+-----------+---------------+---+

In [26]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- place: string (nullable = true)
 |-- age: integer (nullable = true)

In [54]:
df_pyspark.columns

['name', 'place', 'age']

In [56]:
df_pyspark.select('age','place','name').show()

+---+---------------+-----------+
|age|          place|       name|
+---+---------------+-----------+
| 32|     hqwjdbxqwj|         HL|
| 43|     dbqjhbdqhd|         ab|
| 73|      dqbjwqwdq|     dnsajk|
| 21|       Bjhdam s|       Asdb|
| 64|   Dabd an dqwd|  dsakdjbad|
| 38|Dbqjdjhdbq xaqx|    djdwddw|
| 55|         xkqwbd| kduqyhnwdx|
| 15|       Baiukqxa|abscancaqwd|
+---+---------------+-----------+

In [59]:
df_pyspark.dtypes

[('name', 'string'), ('place', 'string'), ('age', 'int')]