In [1]:
!pip install pandas

Requirement already satisfied: pandas in /Users/harsh/anaconda3/lib/python3.11/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/harsh/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/harsh/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/harsh/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /Users/harsh/anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /Users/harsh/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pyspark

In [6]:
import pandas as pd
pd.read_csv("unique.csv")

     Unnamed: 0         Cities
0             0     Pallavaram
1             1      Karnataka
2             2     Tamil Nadu
3             3          Qatar
4             4      Ahmedabad
..          ...            ...
117         117          Kochi
118         118    Bhubaneswar
119         119        Lucknow
120         120     Bangalore
121         121        Udaipur

[122 rows x 2 columns]

In [7]:
from pyspark.sql import SparkSession

In [11]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/05/05 01:22:25 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/05/05 01:22:39 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [12]:
spark

In [13]:
df_pyspark=spark.read.csv('unique.csv')

In [14]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [15]:
df_pyspark.show()

+----+--------------------+
| _c0|                 _c1|
+----+--------------------+
|NULL|              Cities|
|   0|          Pallavaram|
|   1|           Karnataka|
|   2|          Tamil Nadu|
|   3|               Qatar|
|   4|           Ahmedabad|
|   5|             Kolkata|
|   6|             Haryana|
|   7|           New Delhi|
|   8|       Kollam/Quilon|
|   9|           Bengaluru|
|  10| Hyderabad/Hyderabad|
|  11|           Hyderabad|
|  12|                Pune|
|  13|              Kerala|
|  14|         Navi Mumbai|
|  15|           New Delhi|
|  16|              Mohali|
|  17|              Rajkot|
|  18|          Chandigarh|
+----+--------------------+
only showing top 20 rows

In [17]:
spark.read.option('header','true').csv('unique.csv').show()

+---+--------------------+
|_c0|              Cities|
+---+--------------------+
|  0|          Pallavaram|
|  1|           Karnataka|
|  2|          Tamil Nadu|
|  3|               Qatar|
|  4|           Ahmedabad|
|  5|             Kolkata|
|  6|             Haryana|
|  7|           New Delhi|
|  8|       Kollam/Quilon|
|  9|           Bengaluru|
| 10| Hyderabad/Hyderabad|
| 11|           Hyderabad|
| 12|                Pune|
| 13|              Kerala|
| 14|         Navi Mumbai|
| 15|           New Delhi|
| 16|              Mohali|
| 17|              Rajkot|
| 18|          Chandigarh|
| 19|              Mumbai|
+---+--------------------+
only showing top 20 rows

24/05/05 01:41:06 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , Cities
 Schema: _c0, Cities
Expected: _c0 but found:
CSV file: file:///Users/harsh/Desktop/Pyspark/unique.csv

In [18]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [19]:
df_pyspark.head(5)

[Row(_c0=None, _c1='Cities'),
 Row(_c0='0', _c1='Pallavaram'),
 Row(_c0='1', _c1=' Karnataka'),
 Row(_c0='2', _c1=' Tamil Nadu'),
 Row(_c0='3', _c1='Qatar')]